<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="style/reset.css")
    link(rel="stylesheet", href="style/style.styl")
    title Document
  body
    header.header
      h1.logo
        a(href="/") SAMPLE SITE
      nav.global-nav
        ul
          li.nav-item.active
            a(href="#") HOME
          li.nav-item
            a(href="#") ABOUT
          li.nav-item
            a(href="#") NEWS
          li.nav-item
            a(href="#") TOPICS
          li.nav-item
            a(href="#") DOCS
          li.nav-item
            a(href="#") BLOG
    div.wrapper.clear-fix
      main.main
      div.side-menu
    footer.footer
